<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WaterWorks Academy - Module View</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <!-- Header -->
  <header class="bg-blue-500 p-4 fixed top-0 left-0 right-0">
    <div class="container mx-auto flex items-center justify-between">
      <h1 class="text-white font-bold text-lg">WaterWorks Academy</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="https://43d8b30c-7685-468d-852c-883421391d58-00-14i1bs4a6xlxe.janeway.replit.dev/home" class="text-white hover:text-gray-200">Home</a></li>
          <li><a href="https://43d8b30c-7685-468d-852c-883421391d58-00-14i1bs4a6xlxe.janeway.replit.dev/courses" class="text-white hover:text-gray-200">Courses</a></li>
          <li><a href="https://43d8b30c-7685-468d-852c-883421391d58-00-14i1bs4a6xlxe.janeway.replit.dev/about" class="text-white hover:text-gray-200">About</a></li>
          <li><a href="https://43d8b30c-7685-468d-852c-883421391d58-00-14i1bs4a6xlxe.janeway.replit.dev/contact" class="text-white hover:text-gray-200">Contact</a></li>
          <li><a href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> <strong>Logout</strong></a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Module View Section -->
  <section class="py-8 ">
    <div class="container mx-auto mt-8">
      <div class="">
        {% for course in courses %}
          <h1 class="text-xl font-semibold mb-6 mt-6"> <strong>Course Name: </strong>{{ course.course_name }}</h1>
          <p><strong>Duration:</strong> {{ course.duration }}</p>
          <p><strong>Course Description: </strong>{{ course.description }}</p><br>
          <h2 class="text-xl font-bold mb-5 text-blue-700">Modules:</h2>
          <ul>
            {% for module in modules %}
              {% if module.course_id == course.id %}
                <li><a href="{{ url_for('module', module_id=module.id) }}"> Module: {{ module.module_name }}</a></li>
                <ul>
                  {% for lesson in lessons %}
                    {% if lesson.module_id == module.id %}
                      <li><a href="{{ url_for('module', lesson_id=lesson.id) }}">{{ lesson.lesson_name }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- footer.html -->
  <footer class="bg-gray-800 text-white p-4">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 WaterWorks Academy. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>
